@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #9333ea;
  --color-dark-bg: #0f172a;
  --color-card-bg: #1e293b;

  --font-sans: 'Inter', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: #0f172a;
  /* Fallback */
  background-color: var(--color-dark-bg);
  color: white;
  font-family: var(--font-sans);
  scroll-behavior: smooth;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 0.8s ease-out;
}

.animate-fade-in-up {
  animation: fadeInUp 0.8s ease-out;
}

.delay-100 {
  animation-delay: 100ms;
}

.delay-200 {
  animation-delay: 200ms;
}

@keyframes tilt {

  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(1deg);
  }

  75% {
    transform: rotate(-1deg);
  }
}

.animate-tilt {
  animation: tilt 5s infinite linear;
}